In [13]:
import os
import pandas as pd

In [15]:
# chack on the current working directory

os.getcwd()

'C:\\Users\\Owner\\DSE5002\\Project1_DSE5002'

In [17]:
#get the dataframe from the file sales.csv
# set the file path to the location you saved the file or make sure it is in your current working directory

salarydf = pd.read_csv("r project data-1.csv")

salarydf.head()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L